.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;

}

.navbar {
    padding-top: 5px;
    height: 11vh;
    width: 100%;
    padding: 10px;
}

.navitem {
    display: flex;
    justify-content: center;
}

.nav-left-item {
    display: flex;
}

.nav-parent {
    /* display: flex;
    justify-content: space-around;
    margin-top: 5px; */
}

@media only screen and (max-width: 1009px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1088px) {
    .nav-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 987px) {
    .navbar {
        height: 15vh;
    }

    .navbar .nav-parent .nav-right {
        margin-top: 0.3rem;
    }

    .navbar .nav-parent .nav-right .nav-item {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .reset-sort hr {
        display: none;
    }

}

@media only screen and (max-width: 760px) {
    .nav-parent {
        font-size: 0.7rem !important;
    }
.navbar-brand{
    font-size: 1rem;
}
    .nav-right .nav-item {
        /* margin: 1rem; */
    }

    .nav-right .cart {
        /* position: absolute;
        top: 36px;
        right: 50px; */
        font-size: 14px;
    }

    .reset-sort {
        height: 60px !important;
    }


    .nav-parent .nav-left-item {
        display: flex !important;
        justify-content: space-between !important;
    }

  
}

@media only screen and (max-width: 690px) {
    .nav-parent {
        font-size: 0.7rem !important;
    }

  

    .reset-sort {
        height: 60px !important;
    }

  

    .nav-parent .nav-left-item {}
}

@media only screen and (max-width: 540px) {
    .nav-item .nav-link .fa-brands {
        display: none !important;
    }

    .nav-item .nav-link .bi {
        display: none !important;
    }
}

@media only screen and (max-width: 532px) {
    .nav-right .cart {
        position: absolute;
        top: 36px;
        right: 50px;
        font-size: 14px;
    }
}